/*Bootstrap overrides*/

#bootstrap-override {
	font-family: 'Open Sans Condensed', sans-serif;
}

#bootstrap-override .navbar {
	min-height: 30px;
	margin-bottom: 0;
}

#bootstrap-override h1 {
	margin-top: 10px;
}

/*Element styles*/

body {
	padding: 4em 0 3.5em 0;
}

h1 {
	text-align: center;
}

/*Class styles*/

.container-fluid {
	padding-top: 5px;
}

.footer-text {
  color: white;
}

/*Media queries*/

@media (max-width: 768px) {

}

@media only screen and (max-width : 480px) {
  .container-fluid td {
    font-size: 0.95em;
  }
  .container-fluid th {
    font-size: 0.95em;
  }
}

@media only screen and (max-width : 390px) {
  .container-fluid td {
    font-size: 0.90em;
  }
  .container-fluid th {
    font-size: 0.90em;
  }
}

/*LG G4*/
@media only screen and (max-width : 360px) {
  .container-fluid td {
    font-size: 0.87em;
  }
  .container-fluid th {
    font-size: 0.87em;
  }
}

/*iPhone 5 and down*/
@media only screen and (max-width : 320px) {
  .container-fluid td {
    font-size: 0.85em;
  }
  .container-fluid th {
    font-size: 0.85em;
  }
}
