/*Bootstrap overrides*/

#bootstrap-override {
	font-family: 'Open Sans Condensed', sans-serif;
}

/*Element styles*/

h1 {
	text-align: center;
}

/*Class styles*/

.container-fluid {
	padding-top: 20px;
}


.footer-text {
  color: white;
  
}

/*Media queries*/

@media (max-width: 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 390px) {

}

/*LG G4*/
@media only screen and (max-width : 360px) {

}

/*iPhone 5 and down*/
@media only screen and (max-width : 320px) {

}
