/*Bootstrap overrides*/

#bootstrap-override {
	
}

#bootstrap-override tr td:first-child {
	min-width: 85px;
}

/*Element styles*/

/*Id styles*/

/*Class styles*/

.glyphicon {
	margin-left: 5px;
}

.selected {
	background-color: #ECECEC;
}

.job-statusgroup-container {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.job-start,
.job-ready,
.job-billed {
	padding: 15px;
}

.job-additional-info {
	width: 100%;
	margin-bottom: 0.3em;
	padding: 3% 0 3% 0;
	font-weight: 800;
	display: none;
}

.job-update-failed {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

/*Media queries*/
