/*Bootstrap overrides*/

#bootstrap-override {
	
}

/*Element styles*/

/*Id styles*/

#newclient {
	display: none;
}

/*Class styles*/

.bootstrap-switch-container {
	max-height: 34px;
}

.stoneworkdescription-container {
	display: none;
}

.mandatoryfields {
	display: none;
}

.postsuccess {
	display: none;
}

.orderbutton {
	padding: 10px 25px 10px 25px;
	font-weight: bold;
	font-size: 1.3em;
}

.errormsg {
	color: red;
}

/*Media queries*/

@media (min-width: 768px) {
	.container-fluid {
		margin-left: 25%;
		margin-right: 25%;
	}
}

@media (max-width: 768px) {

}

@media (max-width: 450px) {

}

