/*Bootstrap overrides*/

#bootstrap-override {
	
}

/*Element styles*/

/*Id styles*/

#newclient {
	display: none;
}

/*Class styles*/

.bootstrap-switch-container {
	max-height: 34px;
}

.stoneworkdescription-container {
	display: none;
}

.mandatoryfields {
	display: none;
}

.postsuccess {
	display: none;
}

/*Media queries*/

@media (max-width: 768px) {

}

@media (max-width: 450px) {

}

