div(id="billed-modal-id" class="modal")
	div(class="modal-content")
		div(class="modal-header")
			span(class="close") &times;
			h2 Merkitäänkö työ laskutetuksi?
		div(class="modal-body")
			div(class="modal-button-container")
				button(class="btn btn-default go-back") Ei
				button(class="btn btn-success mark-as-billed") Kyllä