nav(class='navbar navbar-inverse navbar-fixed-bottom text-center')
	div(class="container")
		a(class=".navbar-text footer-text" href="http://www.asfalttihuolto.fi/") &#169; ASFALTTIHUOLTO AH OY
script(src="js/jquery-3.1.1.min.js")
script(src="js/lodash.js")
script(src="js/main.js")
script.
	src="https://www.googletagmanager.com/gtag/js?id=UA-110021924-1"
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-110021924-1');