nav(class='navbar navbar-inverse navbar-fixed-bottom text-center')
	div(class="container")
		a(class=".navbar-text footer-text" href="http://www.asfalttihuolto.fi/") &#169; ASFALTTIHUOLTO AH OY
script(src="js/jquery-3.1.1.min.js")
script(src="js/lodash.js")
script(src="js/main.js")