div(id="myNav" class="overlay")
  a(href="javascript:void(0)" id="closebtn") &times;
  div(class="overlay-content")
    a(href="/") Uusi työ
    a(href="/avoimet") Avoimet työt
    a(href="/laskutetut") Laskutetut työt
