include includes/header.pug
nav(class='navbar navbar-inverse navbar-fixed-top text-center')
	a(class="navbar-brand") Avoimet työt
	span(id="openbtn") &#9776;
//link(rel="stylesheet" href="/styles/ongoingjobs.css" type="text/css")
body(id='bootstrap-override')
	div(class='container-fluid')
		div(class='form-inline text-center page-wrap')
			div(class='form-group text-center')
		include includes/footer.pug
		script(src="js/main.js")