include includes/header.pug
link(rel='stylesheet' href='/styles/orders.css' type='text/css')
link(rel='stylesheet' href='/styles/bootstrap-switch.min.css' type='text/css')
h1 TILAUKSET
body(id='bootstrap-override')
	div(class='container-fluid')
		form
			div(class='form-group')
				label(for='address') Osoite
				input(class='form-control' type='text' id='address')
			div(class='form-group')
				label(for='orderdate') Tilauspvm
				input(class='form-control' type='date' id='orderdate')
			div(class='form-group')
				label(for='sitesize') Työmaan koko
				input(class='form-control' type='text' id='sitesize' placeholder='m2')
			div(class='form-check')
				label(class='form-check-label') Kivitöitä 
					input(class='form-check-input' type='checkbox' value='' name='stoneworkcheck' data-on-text='Kyllä' data-off-text='Ei' data-on-color='success' data-off-color='danger')
			div(class='form-group stoneworkdescription-container')
				label(for='stoneworkdescription') Kivityön kuvaus
				textarea(class='form-control' id='stoneworkdescription' rows='3')
			div(class='form-group')
				label(for='streetcategories') Katuluokat
				input(class='form-control' type='text' id='streetcategories' placeholder='Esim. ar KL3, jk kl6')
			div(class='form-group')
				label(for='completiongoal') Valmistumistavoite
				input(class='form-control' type='text' id='completiongoal')
			div(class='form-group')
				label(for='completiondate') Valmistumispvm
				input(class='form-control' type='date' id='completiondate')
		div(class="text-center order-form")
			button(class="btn btn-info") Tilaa
include includes/footer.pug
script(src='js/orders.js')
script(src='js/bootstrap-switch.min.js')