include includes/header.pug
nav(class='navbar navbar-inverse navbar-fixed-top text-center')
	a(class="navbar-brand") Uusi työ
	span(id="openbtn") &#9776;
link(rel='stylesheet' href='/styles/orders.css' type='text/css')
link(rel='stylesheet' href='/styles/bootstrap-switch.min.css' type='text/css')
link(rel="stylesheet" href="/styles/confirmation-modal.css" type="text/css")
body(id='bootstrap-override')
	div(class='container-fluid')
		form(class="orderform")
			div(class="alert alert-danger mandatoryfields") Täytä punaisella merkityt pakolliset kentät.
			div(class="alert alert-success postsuccess") Tilaus lähetetty!
			div(class='form-group')
				label(class="control-label" for='clientname') Tilaaja
				select(class='form-control' type='text' id='clientname' required)
					option(disabled selected value id="placeholder") Valitse tilaaja..
					option Leppänen
					option Suurkari
					option Kiiskinen
					option Mäkilä
					option Huoman
					option(id="newclientname") Lisää uusi tilaaja..
			div(class='form-group' id="newclient")
				label(for='newclientinput') Uusi tilaaja
				input(class='form-control' type='text' id='newclientinput')
			div(class='form-group')
				label(class="control-label" for='address') Osoite
				input(class='form-control' type='text' id='address' required)
			div(class='form-group')
				label(class="control-label" for='orderdate') Tilauspvm
				input(class='form-control' type='date' id='orderdate' required)
			div(class='form-group')
				label(class="control-label" for='sitesize') Työmaan koko
				input(class='form-control' type='tel' id='sitesize' placeholder='m2' required)
			div(class='form-check')
				label(class='form-check-label') Kivitöitä 
					input(class='form-check-input' type='checkbox' value='' name='stoneworkcheck' data-on-text='Kyllä' data-off-text='Ei' data-on-color='success' data-off-color='danger')
			div(class='form-group stoneworkdescription-container')
				label(class="control-label" for='stoneworkdescription') Kivityön kuvaus
				textarea(class='form-control' id='stoneworkdescription' rows='3')
			div(class='form-group')
				label(class="control-label" for='streetcategories') Katuluokat
				input(class='form-control' type='text' id='streetcategories' placeholder='Esim. ar KL3, jk kl6' required)
			div(class='form-group')
				label(class="control-label" for='completiongoal') Valmistumistavoite
				input(class='form-control' type='text' id='completiongoal' required)
			div(class='form-group')
				label(class="control-label" for='completiondate') Haluttu valmistumispvm
				input(class='form-control' type='date' id='completiondate' required)
		div(class="text-center order-button-div")
			button(class="btn btn-info orderbutton" id="order-button-id") TILAA
include includes/order-confirm-modal.pug
include includes/footer.pug
script(src='js/orders.js')
script(src='js/bootstrap-switch.min.js')
script(src='js/order-modal.js')