include includes/header.pug
link(rel="stylesheet" href="/styles/summary.css" type="text/css")
h1 YHTEENVETO
body(id='bootstrap-override')
	div(class='container-fluid')
		div(class='form-inline text-center page-wrap')
			div(class='form-group text-center')
		include includes/footer.pug
		script(src="js/main.js")
		script(src="js/summary.js")